{{> admin-sidenav people=true}}
<div class="main-content" id="panel">
  {{> admin-topnav }}

  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--4">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header text-center">
            <h2 class="font-weight-bold mt-2">USERS LIST</h2>
            <div class="row align-items-center">
              <div class="col text-right">
              </div>
            </div>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="tangene">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="email">Email</th>
                  <th scope="col" class="sort" data-sort="schoolName">School Name</th>
                  <th scope="col" class="sort" data-sort="user">Status</th>
                  <th scope="col" class="sort" data-sort="user">Confirmation</th>
                </tr>
              </thead>
              <tbody class="list">
                {{#each users_data }}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{{this.profile_img}}">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{this.email}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {{this.school_id.schoolName}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{#if isConfirm}}Approved{{else}}Pending{{/if}}</span>
                    </span>
                  </td>
                  <td>{{#if isConfirm}}User already confirmed{{else}}<button class="btn btn-sm btn-success confirmBtn" data-id="{{this._id}}"><span
                    class="material-icons">
                    thumb_up_alt
                  </span></button>{{/if}}

                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- **************************** REQUEST APPROVED BUILDING Modal ****************************** -->
<div class="modal fade confirmModal" data-backdrop="static">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">thumb_up</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form action="/admin/people/confirm" method="POST">
        <div class="modal-body">

          <p>Do you really want to Confirm this account? This process cannot be undone.</p>
          <input type="hidden" id="_id" name="id">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ****************************request building script************************************************** -->
<script>
  $('.confirmBtn').click(function () {

    $('#_id').val($(this).attr('data-id'));
    $('.confirmModal').modal('show');
  });
</script>
<script>
  $(document).ready(function () {
    $('#tangene').DataTable();
  });
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>