<style>
  .swiper {
    width: 100%;
    padding-bottom: 5px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 550px;
  }

  .swiper-slide img {
    display: block;
    width: 450px;
    height: 550px;
  }

  .slide {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
  }

  .slide .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
  }
</style>
{{> schoolAd-sidenav dashboard=true}}
<div class="main-content" id="panel">
  {{> schoolAd-topnav dashboard=true mode=primary}}
  <!-- Page content -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">
                      BUILDINGS
                    </h5>
                    <span class="h2 font-weight-bold mb-0"> {{totalBuilding}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-blue
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-building "></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-blue mr-2"><i class="ni ni-building mr-2"></i></span>
                  <span class="text-nowrap"> Total No. of Building</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-orange mb-0">
                      ROOMS
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{totalRoom}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-shop"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-orange mr-2"><i class="ni ni-shop"></i></span>
                  <span class="text-nowrap"> Total No. of Rooms</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-red mb-0">
                      ROOM SHORTAGE
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-danger mr-2"><i class="ni ni-chart-bar-32"></i></span>
                  <span class="text-nowrap">Total No. Of Rooms Needed</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-success mb-0">
                      Total Student
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{#if students.totalStudent}}{{students.totalStudent}}{{else}}0{{/if}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-circle-08"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="ni ni-circle-08"></i></span>
                  <span class="text-nowrap">Total No. Of Student</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-12">
                <div class="swiper mySwiper">
                  <div class="row justify-content-md-center mt-2 mb-5">
                    <div class="col col-lg-2 text-right school_logo">
                      <img src="{{school.logo_img}}" alt="..." class="rounded-circle mt-5" height="90">
                    </div>
                    <div class="col-md-auto text-center">
                      <p class="mt-0">REGION X <br>DEPARTMENT OF EDUCATION </p>
                      <h1 class="mt-3">{{school.schoolName}}</h1>
                      <p class="mt-0"><b>{{school.address}}</b> </p>
                      <span><b>ID: {{school.schoolId}}</b></span>
                    </div>
                    <div class="col col-lg-2 text-left school_logo">
                      <img src="/assets/img/logo/MC.png" alt="..." class="rounded-circle mt-5" height="90">
                    </div>
                  </div>
                  <!-- <div class="swiper-pagination"></div> -->
                </div>
              </div>
              <div class="col-sm-12">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">BUILDING CHART</h2>
          </div>
          <div class="card-body">

            <canvas class="ml-2" id="myCharts" width="500" height="320"></canvas>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card" style="height: 445px;">
          <div class="card-header">
            <h2 class="text-center">BUILDING REQUEST</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="breq">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Building Number</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Status</th>
                    <th scope="col">Request</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each buildingRequest}}
                  <tr>
                    <td scope="row">{{this.buildingNumber}}</td>
                    <td class="{{#ifCond this.buildingCondition '===' 'MAJOR DAMAGE' }} text-danger {{else}} text-primary {{/ifCond}}">{{this.buildingCondition}}</td>
                    <td class="{{#ifCond this.status '===' 'UNREQUESTED' }} text-primary {{else}} text-danger {{/ifCond}}">{{this.status}}</td>
                    <td>{{#ifCond this.status '===' 'VERIFIED'}} REQUEST VERIFIED {{else}}
                      {{#ifCond this.status '===' 'REQUESTED'}} REQUESTED {{else ifCond  this.status '===' 'PROCESS'}} PROCESS {{else}}
                      <button class="btn btn-sm btn-primary  requestBtn" data-id="{{this._id}}"
                        data-number="{{this.buildingNumber}}" data-condition="{{this.buildingCondition}}"
                        data-status="{{this.status}}">Request</button>
                      {{/ifCond}}
                      {{/ifCond}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="font-weight-bolder" style="color: #203e7a;">ROOM REQUEST</h2>
          </div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="rreq">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Room Number</th>
                    <th scope="col">Building Number</th>
                    <!-- <th scope="col">Level of Damage</th> -->
                    <th scope="col">Condition</th>
                    <th scope="col">Status</th>
                    <th scope="col">Request</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each roomRequest}}
                  <tr>
                    <td scope="row">{{this.roomNumber}}</td>
                    <td class="">{{this.building_id.buildingNumber}}</td>
                    <!-- <td class="text-danger">{{this.percentage}}%</td> -->
                    <td class="text-danger">{{this.roomCondition}}</td>
                    <td class="text-success">{{this.status}}</td>

                    <td>{{#ifCond this.status '===' 'REQUESTED'}} REQUESTED {{else}}
                        {{#ifCond this.status '===' 'VERIFIED'}} REQUEST VERIFIED {{else}}
                      <button class="btn btn-sm btn-primary requestBtn1" data-id="{{this._id}}"
                        data-roomNumber="{{this.roomNumber}}" data-status="{{this.status}}"
                        data-condition="{{this.roomCondition}}">Request</button>
                        {{/ifCond}}
                        {{/ifCond}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="col-sm-12 text-center">
              <h2 class="font-weight-bolder" style="color: #203e7a;">NEW REQUEST</h2>
            </div>
            <div class="col text-right">
              <a href="" class="btn btn-md  btn-primary  " data-toggle="modal" data-target="#requestModal"><i class="ni ni-archive-2 text-white mr-2"></i>Request
                New</a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="req">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Specific Request</th>
                    <th scope="col">Status</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each request}}
                  <tr>
                    <td scope="row">{{this.name}}</td>
                    <td class="text-success">{{this.specific}}</td>
                    <td class="text-danger">{{this.status}}</td>
                    <td>{{this.note}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ***************** REQUEST add Modal *********************** -->
  <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" method="POST" action="/schoolAd/reqNew">
          <div class="card-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3>REQUEST FORM</h3>
              </div>
              <div class="form-group col-lg-11 pl-5">
                <label>Name</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top" data-content="Refers to the type of request.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <select name="name" class="form-control">
                  <option selected></option>
                  <option>BUILDING</option>
                  <option>FACILITY</option>
                  <option>FURNITURE</option>
                  <option>ROOM</option>
                  <option>WATER & SANITATION</option>
                </select>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Specific Request</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top" data-content="Refers to the specific type of request.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <input type="string" class="form-control" placeholder="" name="specific" required>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top" data-content="Additional message of the request, like quantity">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="col-12 text-center">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--  ***************** REQUEST Building Modal *********************** -->
  <div class="modal fade requestBuilding" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/schoolAd/buildReq" method="POST">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3>BUILDING REQUEST FORM</h3>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Building Number</label>
                <input type="text" name="id" id="request_id" hidden>
                <input type="string" class="form-control" id="number" value="number" name="buildingNumber" disabled>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Condition</label>
                <input type="string" class="form-control" id="condition" value="condition" placeholder=""
                  name="condition" disabled>
              </div>

              <div class="form-group col-lg-11  pl-5">
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top" data-content="Additional message of the request, like quantity.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="col-12 text-center">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  ***************** REQUEST Room Modal *********************** -->
  <div class="modal fade requestRoom" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/schoolAd/roomReq" method="POST">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3>ROOM REQUEST FORM</h3>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Room Number</label>
                <input type="text" name="_id" id="room_id" hidden>
                <input type="string" class="form-control" id="roomNumber" value="roomNumber" name="buildingNumber"
                  disabled>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Condition</label>
                <input type="string" class="form-control" id="roomCondition" value="roomCondition" placeholder=""
                  name="condition" disabled>
              </div>

              <div class="form-group col-lg-11  pl-5">
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top" data-content="Additional message of the request, like quantity.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="col-12 text-center">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    // chartBar();
    // chartPie();

    // function chartBar() {
    //   const ctx = document.getElementById('myChart').getContext('2d');
    //   const myChart = new Chart(ctx, {
    //     type: 'bar',
    //     data: {
    //       labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    //       datasets: [{
    //         label: '# of Votes',
    //         data: [12, 19, 3, 5, 2, 3],
    //         backgroundColor: [
    //           'rgba(255, 99, 132)',
    //           'rgba(54, 162, 235)',
    //           'rgba(255, 206, 86)',
    //           'rgba(75, 192, 192)',
    //           'rgba(153, 102, 255)',
    //           'rgba(255, 159, 64)'
    //         ],
    //         borderColor: [
    //           'rgba(255, 99, 132, 1)',
    //           'rgba(54, 162, 235, 1)',
    //           'rgba(255, 206, 86, 1)',
    //           'rgba(75, 192, 192, 1)',
    //           'rgba(153, 102, 255, 1)',
    //           'rgba(255, 159, 64, 1)'
    //         ],
    //         borderWidth: 1
    //       }]
    //     },
    //     options: {
    //       maintainAspectRatio: false,
    //       scales: {
    //         y: {
    //           beginAtZero: true
    //         }
    //       }
    //     }
    //   });
    // }
    // function chartPie() {
    //   const ctxs = document.getElementById('myCharts').getContext('2d');
    //   const myCharts = new Chart(ctxs, {
    //     type: 'pie',
    //     data: {
    //       labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    //       datasets: [{
    //         label: '# of Votes',
    //         data: [12, 19, 3, 5, 2, 3],
    //         backgroundColor: [
    //           'rgba(255, 99, 132)',
    //           'rgba(54, 162, 235)',
    //           'rgba(255, 206, 86)',
    //           'rgba(75, 192, 192)',
    //           'rgba(153, 102, 255)',
    //           'rgba(255, 159, 64)'
    //         ],
    //         borderColor: [
    //           'rgba(255, 99, 132)',
    //           'rgba(54, 162, 235)',
    //           'rgba(255, 206, 86)',
    //           'rgba(75, 192, 192)',
    //           'rgba(153, 102, 255)',
    //           'rgba(255, 159, 64)'
    //         ],
    //         borderWidth: 1,
    //         hoverOffset: 4
    //       }]
    //     },
    //     options: {
    //       maintainAspectRatio: false,
    //       scales: {
    //         y: {
    //           beginAtZero: true
    //         }
    //       }
    //     }
    //   });
    // }
  </script>
  <!-- **************************** DATA TABLE script ****************************** -->
  <!-- <script>
    $(document).ready(function () {
      $('#builDamage').DataTable({
        dom: 'lBfrtip',
        buttons: [
        ],
        stateSave: true,
      });
    });
  </script> -->
  <!-- popOver Script -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <!-- ****************************request building script************************************************** -->
  <script>
    $('.requestBtn').click(function () {

      $('#request_id').val($(this).attr('data-id'));
      $('#number').val($(this).attr('data-number'));
      $('#condition').val($(this).attr('data-condition'));

      $('.requestBuilding').modal('show');
    });
  </script>
  <!-- ****************************request room script************************************************** -->
  <script>
    $('.requestBtn1').click(function () {

      $('#room_id').val($(this).attr('data-id'));
      $('#roomNumber').val($(this).attr('data-roomNumber'));
      $('#roomCondition').val($(this).attr('data-condition'));

      $('.requestRoom').modal('show');
    });
  </script>
  <!-- ****************************datatables script************************************************** -->
  <script>
    $(document).ready(function () {
      $('#breq').DataTable({
        scrollY: '200px',
        scrollCollapse: true,
        dom: 'Bfrtip',
        paging: false,
        buttons: [
        ]
      });
    });
    $(document).ready(function () {
      $('#rreq').DataTable({
        scrollY: '200px',
        scrollCollapse: true,
        dom: 'Bfrtip',
        paging: false,
        dom: 'Bfrtip',
        buttons: [
        ]
      });
    });
    $(document).ready(function () {
      $('#req').DataTable({
        scrollY: '200px',
        scrollCollapse: true,
        dom: 'Bfrtip',
        paging: false,
        dom: 'Bfrtip',
        buttons: [
        ]
      });
    });
  </script>
  <!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 200,
      modifier: 1,
      slideShadows: true
    },
    autoplay: {
      delay: 1500,
      disableOnInteraction: true
    },
    pagination: {
      el: ".swiper-pagination"
    }
  });
  var swiper = new Swiper(".mySwipers", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 200,
      modifier: 1,
      slideShadows: true
    },
    autoplay: {
      delay: 1500,
      disableOnInteraction: true
    },
    pagination: {
      el: ".swiper-pagination"
    }
  });
</script>
  <script>
    $(document).ready(function () {
      var building_lists = '{{#renderJsonString building_list}}{{/renderJsonString}}';
      building_lists = JSON.parse(building_lists);
      var b_good = building_lists.good;
      var b_minor = building_lists.minor;
      var b_major = building_lists.major;
      // list = [];

      // building_lists.forEach((index) => {
      //   list.push(index[building_lists]);

      // });
      console.log('building_lists', building_lists);
      const ctxs = document.getElementById('myCharts').getContext('2d');
      const myCharts = new Chart(ctxs, {
        type: 'pie',
        data: {
          labels: ['MINOR DAMAGE', 'MAJOR DAMAGE', 'GOOD CONDITION',],
          datasets: [{
            label: '# of Votes',
            data: [b_minor, b_major, b_good],
            backgroundColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',

            ],
            borderColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',
            ],
            borderWidth: 1,
            hoverOffset: 4
          }]
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

    });
  </script>
  <!-- chart.js -->
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="https://www.jsdelivr.com/package/npm/chart.js"></script>