{{> schoolAd-sidenav facility=true}}
<div class="main-content" id="panel">
    {{> schoolAd-topnav}}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/schoolAd/dashboard"><i class="fas fa-home">
                                            Dashboard</i></a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Other Facilitly List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="col text-right">
                            <a href="" class="btn btn-md btn-primary" data-toggle="modal" data-target="#addBuilding"> <i class="ni ni-html5 text-white mr-2"></i>ADD
                                FACILITY</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush" id="facility">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Type of Facility</th>
                                    <th scope="col">Presented at Campus?</th>
                                    <th scope="col">status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each facility_data}}
                                <tr>
                                    <th scope="row">{{this.name}}</th>
                                    <td class="text-primary">{{this.presentCampus}}</td>
                                    <td class="text-success">{{this.status}}</td>
                                    <td class="">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-black" href="#" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item editBtn" data-id="{{this._id}}"
                                                    data-name="{{this.name}}" data-presented="{{this.presentCampus}}"
                                                    data-statuss="{{this.status}}"> Update</a>
                                                <a class="dropdown-item deleteBtn" data-id="{{this._id}}"> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***********************Add Modal************************************ -->
<div class="modal fade" id="addBuilding" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/schoolAd/facility/add" method="POST">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                </div>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="form-group col-lg-11">
                            <label for="name">SELECT FACILITIES</label>
                            <select class="form-control" name="name" onchange="if(this.options[this.selectedIndex].value=='customOption'){
                                        toggleField(this,this.nextSibling);
                                        this.selectedIndex='0';
                                    }" required>
                                <option></option>
                                <option>COVERED COURT</option>
                                <option>GYMNASIUM</option>
                                <option>SOLAR PANEL</option>
                                <option>PERMANENT PERIMETER FENCE</option>
                                <option>TEMPORARY PERIMETER FENCE</option>
                                <option>FLOOD MARKER</option>
                                <option>PLAYGROUND</option>
                                <option>SCHOOL GARDEN</option>
                                <option>ENTRANCE GATE</option>
                                <option>EXIT GATE</option>
                                <option value="customOption">OTHERS</option>
                            </select><input name="name" class="form-control" style="display:none;" disabled="disabled"
                                onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
                        </div>
                        <div class="form-group col-sm-11">
                            <label for="presentCampus">PRESENT IN CAMPUS</label>
                            <select id="presentCampus" name="presentCampus" class="form-control" required>
                                <option selected></option>
                                <option>YES</option>
                                <option>NO</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-11">
                            <label>CONDITION</label>
                            <select name="status" class="form-control" required>
                                <option selected></option>
                                <option>GOOD CONDITION</option>
                                <option>MINOR DAMAGE</option>
                                <option>MAJOR DAMAGE</option>
                                <option>CONDEMNED/DEMOLATION</option>
                                <option>COMPLETION</option>
                                <option>ON GOING CONSTRUCTION</option>
                            </select>
                        </div>
                        <div class="col-12 text-right pr-5">
                            <button id="btn-save" type="submit" class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
<!-- ***********************Update Modal************************************ -->
<div class="modal fade updateModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/schoolAd/facility/update" method="POST">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                </div>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="form-group col-lg-11">
                            <label for="name">SELECT FACILITIES</label>
                            <input type="text" name="edit_id" id="edit_id" class="form-control" hidden>
                            <select class="form-control" name="name" id="name_edit" onchange="if(this.options[this.selectedIndex].value=='customOption'){
                                toggleField(this,this.nextSibling);
                                this.selectedIndex='0';
                            }">
                                <option value="name_edit"></option>
                                <option>COVERED COURT</option>
                                <option>GYMNASIUM</option>
                                <option>SOLAR PANEL</option>
                                <option>PERMANENT PERIMETER FENCE</option>
                                <option>TEMPORARY PERIMETER FENCE</option>
                                <option>FLOOD MARKER</option>
                                <option>PLAYGROUND</option>
                                <option>SCHOOL GARDEN</option>
                                <option>ENTRANCE GATE</option>
                                <option>EXIT GATE</option>
                                <option value="customOption">OTHERS</option>
                            </select><input name="name" class="form-control" style="display:none;" disabled="disabled"
                                onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
                        </div>
                        <div class="form-group col-sm-11">
                            <label>PRESENT IN CAMPUS</label>
                            <select id="presented_edit" name="presentCampus" class="form-control">
                                <option selected value="presented_edit"></option>
                                <option>YES</option>
                                <option>NO</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-11">
                            <label>CONDITION</label>
                            <select id="status_edit" name="status" class="form-control">
                                <option selected value="status_edit"></option>
                                <option>GOOD CONDITION</option>
                                <option>MINOR DAMAGE</option>
                                <option>MAJOR DAMAGE</option>
                                <option>CONDEMNED/DEMOLATION</option>
                                <option>COMPLETION</option>
                                <option>ON GOING CONSTRUCTION</option>
                            </select>
                        </div>
                        <div class="col-12 text-right pr-5">
                            <button id="btn-save" type="submit" class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
<!-- **************************** delete Modal ****************************** -->
<div class="modal fade deteleModal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/schoolAd/facility/delete" method="POST">
                <div class="modal-body">

                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                    <input type="hidden" id="delete_id" name="id">
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ****************************Update Modal************************************************** -->
<!-- <div class="modal fade updateModal" tabindex="-1"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/schoolAd/facility/update" method="POST">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                </div>
                <div class="pl-4">
                    <div class="row">
                        <div class="form-group col-sm-10">
                            <input type="text" name="edit_id" id="edit_id" class="form-control" hidden> 
                            <label for="name">Choose Facility</label>
                            <select id="name_edit" name="name" class="form-control">
                                <option selected value="name_edit"></option>
                                <option>Covered Court</option>
                                <option>Gymnasium</option>
                                <option>Solar Panel</option>
                                <option>Permanent Perimeter Fence</option>
                                <option>Temporary Perimeter Fence</option>
                                <option>Flood Marker</option>
                                <option>Playground</option>
                                <option>School Garden</option>
                                <option>Entrance Gate</option>
                                <option>Exit Gate</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="presentCampus">Presented in Campus?</label>
                            <select id="presented_edit" name="presentCampus" class="form-control">
                                <option selected value="presented_edit"></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="status_edit">Status</label>
                            <select id="status_edit" name="status" class="form-control">
                                <option selected value="status_edit"></option>
                                <option>Good Condition</option>
                                <option>Minor Damage</option>
                                <option>Major Damage</option>
                                <option>Condemned/ for Demolation</option>
                                <option>For Completion</option>
                                <option>On Going Construction</option>
                            </select>
                        </div>
                        <div class="col-12 text-right pr-5">
                            <button id="btn-save" type="submit" class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>   
    </div>
</div> -->
<!-- ****************************Delete Modal************************************************** -->
<!-- <div class="modal fade deteleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <form action="/schoolAd/facility/delete" method="POST">
          <div class="modal-body">
            <h5 class="modal-title mb-4" id="exampleModalLabel">Do you want to Delete?</h5>
            <input type="hidden" id="delete_id" name="id">
           
            <button type="button" class="btn btn-secondary ml-8" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div> -->
<!-- ****************************Update script************************************************** -->
<script>
    $('.editBtn').click(function () {

        $('#edit_id').val($(this).attr('data-id'));
        $('#name_edit').val($(this).attr('data-name'));
        $('#presented_edit').val($(this).attr('data-presented'));
        $('#status_edit').val($(this).attr('data-statuss'));

        $('.updateModal').modal('show');
    });
</script>
<!-- ****************************delete script************************************************** -->
<script>
    $('.deleteBtn').click(function () {

        $('#delete_id').val($(this).attr('data-id'));

        $('.deteleModal').modal('show');
    });
</script>

<!-- **************************** DATA TABLE script ****************************** -->
<script>
    $(document).ready(function () {
        $('#facility').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<!-- select with inpuut script -->
<script>
    function toggleField(hideObj, showObj) {
        hideObj.disabled = true;
        hideObj.style.display = 'none';
        showObj.disabled = false;
        showObj.style.display = 'inline';
        showObj.focus();
    }
</script>